amazon_reviews_us_Digital_Software_v1_00_personalize_item.csv
amazon_reviews_us_Digital_Software_v1_00_personalize_user.csv
amazon_reviews_us_Digital_Software_v1_00_personalize_user_item.csv
amazon_reviews_us_Digital_Software_v1_00_comprehend.csv
tmp/
output.tar.gz
output/
