data/
mnist.pkl.gz
.DS_Store
amazon-reviews-pds/
model/
xgboost-model
feature-store/
.ipynb_checkpoints/
amazon_reviews_us_Digital_Video_Download_v1_00.tsv
amazon_reviews_us_Digital_Software_v1_00.tsv
*.tar
04_explore/*.png
