{
    "Version": "2012-10-17",
    "Statement": [
        {
          "Sid": "PassRoleForExecutionRoles",
          "Effect": "Allow",
          "Action": [
            "iam:PassRole"
          ],
          "Resource": "*",
          "Condition": {
            "StringEquals": {
                "iam:PassedToService": "sagemaker.amazonaws.com"
            }
          }
        },
        {
          "Sid":"AdministratorAccess",
          "Effect":"Allow",
          "Action":[
            "*"
          ],
          "Resource":"*"
        }
    ]
}