__pycache__/
local-joined-data-*
tmp/
MAR-INF/
#code/
pytorch_model.bin
model_store/
serve/
Transformer_model/
batch_prediction_output/
#metrics/
tensorboard/
model.tar.gz
#model1.tar.gz
#model2.tar.gz
#multi.tar.gz
#multi/
#transformers/
#tensorflow/
models/
outputs/
