local-joined-data-*
tmp/
MAR-INF/
Transformer_handler_generalized.py
#code/
config.json
index_to_name.json
pytorch_model.bin
setup_config.json
model_store/
serve/
Transformer_model/
batch_prediction_output/
#metrics/
tensorboard/
model.tar.gz
#model1.tar.gz
#model2.tar.gz
#multi.tar.gz
#multi/
#transformers/
#tensorflow/
models/
outputs/
