data/
amazon_reviews_us_Digital_Software_v1_00_autopilot.csv
amazon_reviews_us_Digital_Software_v1_00_comprehend.csv
amazon_reviews_us_giftcards_software_videogames.csv
amazon_reviews_us_giftcards_software_videogames_balanced.csv
amazon_reviews_us_giftcards_software_videogames_balanced.jsonl
generated_bias_report/
generated_profiler_report/
model_evaluation/
__pycache__/
