apache-maven-3.6.3-bin.tar.gz 
apache-maven-3.6.3/
out
*.egg
*.egg-info/
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.sublime-*
.*.swo
.*.swp
.cache/
.coverage
.direnv/
.env
.envrc
.gradle/
.idea/
target/
.tox*
.venv*
/*/*pinned.txt
/*/MANIFEST
/*/activate
/*/build/
/*/config
/*/coverage.xml
/*/dist/
/*/htmlcov/
/*/product-spec.json
/build/
/config/
/dist/
/ligradle/
TEST-*.xml
__pycache__/
/*/build
