src/mnist/src/__pycache__/
a.out
b.out
frozen_model_graph_cpu.dot
frozen_model_graph_cpu.png
graph_cpu.dot
graph_cpu.png
linear_model/
timeline-cpu.json
pipeline.yaml
trained_ames_model.dat
cluster.yaml
cluster/
calculate-sum-pipeline.zip
mnist-classification-pipeline.zip
server.log
eksworkshop.yaml
cluster/kfctl_aws.v1.0.0.yaml
cluster/kfctl_aws.v1.0.0.yaml.bak
.cache/
